<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Quake Parser</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>                        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Quake Log Parser</a>
        </nav>
        <main role="main" class="container py-5">
            <div class="starter-template">
                <table class="table py-5">
                    <thead class="thead">
                        <tr >
                            <th scope="col">Link</th><th scope="col">Desciçao</th>
                        </tr>
                    </thead>
                    <tr scope="row">
                        <td><a href="/games/list">Listar Partidas</a></td>
                        <td>Exibe um resumo da partida com o frag de cada player</td>
                    </tr>
                    <tr scope="row">
                        <td><a href="/games/kills">Listar Causas de Morte</a></td>
                        <td>Exibe de a quantidade de mortes agrupadas por causa</td>
                    </tr>
                    <tr scope="row">
                        <td>
                            <input type="text" placeholder="id do jogo" class="form-control" id="id">
                            
                        </td>
                        <td>
                            <button class="btn btn-primary btn-block" onclick="redirect()">Buscar partida por id</button>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
    <script>
        function redirect(){
            document.location.href = '/games/list/' +document.getElementById('id').value;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script></body>

</html>